@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto');

$font-primary: "Roboto", "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-title: "Press Start 2P";
$color-primary: rgb(0, 112, 201);
$color-primary-light: rgb(4,128,226);
$card-background: rgba(0,0,0,0.8);
$background-color: #fff;
$background-grey: #F2F2F2;
$text-color-clear: #fff;
$text-color-dark: #111;
$text-footer-color: #555;
$text-color-secondary-dark: rgba(51,51,51,0.6);
