/*  Canvas  */
.canvas{
    width: 768px;
    height: 480px;
    border: thin solid rgba(0, 0, 0, 1);
    position: relative;
    
    #canvas{
        position: absolute;
    }
    .menu{
        position: absolute;
        background: $day-card-background;
        font-family: $font-title;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 0;
        &.blur{
            filter: blur(2px);
            z-index: -1;
        }
        a{
            color: #FFF;
            margin: 10px 0;
            &:hover{
                color: $color-primary-light;
            }
        }
    }
    .menu--multi{
        z-index: 1;

        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;

        background: $day-card-background;
        
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        display: none;
        
        div{
            text-align: center;
            font-family: $font-title;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            input{
                font-size: 1.5rem;
                padding: 5px;
                width: 50%;
                border: none;
                margin: 0 auto;
            }

            h4{
                color: $color-primary-light;
            }
        }

        &--join{
            font-family: $font-title;
            color: #FFF;

            &:hover{
                color: $color-primary-light;
            }
        }
    }

    .menu--end{
        z-index: 2;

        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;

        background: $day-card-background;
        font-family: $font-title;
        
        color: #FFF;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        display: none;

        &--restart{
            color: $color-primary-light;
        }
    }
}

.leftMenu{
    width: 360px;
    height: 480px;
    border: thin solid rgba(0, 0, 0, 1);
}

.rightMenu{
    width: 360px;
    height: 480px;
    border: thin solid rgba(0, 0, 0, 1);
}

.canvas__hero{
    width: 64px;
    height: 64px;
}

.keycontrol{
    background: $day-card-background;    
    color: #FFF;
    margin-top: 20px;

    &--solo{
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.5rem;
    }
    
    &--multi{
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1.5rem;
    }
}

.key{
    color: #000;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
}
