#main{
  .media{
    margin-top: 80px;
    &__section-title{
      display: flex;
      justify-content: center;
      font-size: 2.6rem;
      font-weight: bold;
      color: $text-color-secondary-dark;
      font-family : $font-title;
    }
    &__section{

      margin: 40px auto;
      background-color: $day-card-background;
      border-radius: 30px;
      padding: 20px;
      .media__title{
        font-family: $font-title;
        font-size: 2.6rem;
        font-weight: bold;
        color: $text-color-dark;
      }
      .media__arrow{
        display: flex;
        flex-direction: row;
        &-item{
          width: 65px;
          height: auto;
        }
      }
      .media__text{
        color: $text-color-dark;
        line-height: 2.6rem;
        font-family: $font-primary;
        font-size: 2.2rem;
        padding-left: 100px;
        p{
          margin: 0;
        }
      }
    }
    .media__style{
      width: 640px;
      margin: 40px auto;
      border-top: thin solid #999;
      border-bottom: thin solid #999;
    }
  }
}
